/*-- General Styling --*/

* {
  box-sizing: border-box;
}

body {
  background-color: #F6F6F6;
}

h1, h2, p, ul, li, a {
  font-family: sans-serif;
}

a:visited {
  color: blue;
}

.container {
  max-width: 70%;
  margin: auto;
}

/*-- Nav Styling --*/

.navBackground {
  background-color: #111;
}

ul.header li {
  display: inline;
  list-style-type: none;
  max-width: 70%;
  align-self: flex-start;
}

.header {
  padding: 0;
  max-width: 70%;
  margin: auto;
}

.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px 50px;
  display: inline-block;
}

.active {
  background-color: #0099FF;
}

/*-- Content Styling --*/

.content {
  padding-top: 50px;
}

.content h2 {
  margin:0 0 40px;
}

.inlineLink {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-decoration: none;
}

/* Random Dog Pictures/Dogs By Breed Styling */

button {
  margin-bottom: 20px;
  background-color: #0099FF;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

button:active {
  background-color: #007acc;
}

img {
  max-width: 100%;
  max-height: 325px;
  width: auto;
  height: auto;
  box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.75);
  margin-bottom: 100px;
}

select {
  font-size: 20px;
  padding: 10px;
  border: none;
}

/*-- Footer Styling --*/

.footer {
  background-color: #111;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
}

.footerList {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: auto;
  list-style: none;
  padding: 20px 0;
}

.footerList li {
  padding-top: 5px;
}

/*-- media querys --*/

@media (max-width: 769px) {
  .container {
    max-width: 80%;
  }

  .header {
    display: block;
    max-width: 90%;
  }
}

@media (max-width: 415px) {

  .container {
    max-width: 100%;
    margin: 0 10px;
  }

  h1 {
    text-align: center;
  }

  .header {
    display: block;
    max-width: none;
  }

  .header li a {
    width: 100%;
    text-align: center;
  }
}
